<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action= "{% url 'accounts:checkCompletedDocReg' %}" method="post">
    {% csrf_token %}

<fieldset>

<legend>Personal Info.</legend><!--this will be the fieldset caption-->

Name: <input type="text" name="doc_name"><br>

BMDC Registration No.: <input type="text" name="doc_bmdc"><br>

Gender:
<br>
<input type="radio" value="male" name="doc_gender">Male<br>
<input type="radio" value="female" name="doc_gender">Female<br>
<input type="radio" value="other" name="doc_gender">Other<br>
<br>

Address: <input type="text" name="address">

Specialty: <!--will make this a drop down menu later-->
    <select required name="doc_specialty">
                <option value="Heart">Heart</option>
                <option value="Pediatric">Pediatric</option>
                <option value="Neurology">Neurology</option>
                <option value="Kidney">Kidney</option>
                <option value="Orthopedic">Orthopedic</option>
                <option value="Ear Nose Throat">Ear Throat Nose</option>
    </select><br>

Contact No.: <input type="text" name="doc_mobile"><br>

</fieldset>

Email: <input type="text" name="doc_email"><br>

Password: <input type="password" name="doc_pass"><br>

Confirm Password: <input type="password" name="doc_conf_pass"><br>

Degrees: <input type="text" name="doc_degree"><br><!--check box menu later-->

Projected time for each patient: <input type="text" name="patient_app_time"><br>

<input type="submit" value="submit"><br>

</form><br>



</body>
</html>