<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="registration_doctor.html" method="post">

<fieldset>

<legend>Personal Info.</legend><!--this will be the fieldset caption-->

Name: <input type="text" name="doc_name"><br>

BMDC Registration No.: <input type="text" name="doc_bmdc"><br>

Gender:
<br>
<input type="radio" value="male" name="doc_gender">Male<br>
<input type="radio" value="female" name="doc_gender">Female<br>
<input type="radio" value="other" name="doc_gender">Other<br>
<br>

Address: <input type="text" name="address"> Time: <input type="text" name="doc_sitting_time"><br>

Speciality: <input type="text" name="doc_speciality"><br><!--will make this a drop down menu later-->

Contact No.: <input type="text" name="mobile"><br><!--if enough time is there,will make this a multivalued data structure.mainly a drop down menu-->

</fieldset>

Email: <input type="text" name="email"><br>

Password: <input type="password" name="pass"><br>

Confirm Password: <input type="password" name="conf_pass"><br>

Degrees: <input type="text" name="doc_degree"><br><!--drop down menu later-->

<input type="submit" value="submit"><br>

</form><br>



</body>
</html>